* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li,
ul,
a {
  list-style: none;
}

body {
  background-color: #f7ffab;
}

p {
  font-weight: 700;
  font-size: 1em;
  color: rgb(0, 0, 0);
  text-shadow: none;
  text-align: center;
  padding: 3% 0 0 0;
}

.hello {
  font-size: 1.4rem;
  color: white;
  padding: 3% 5%;
  text-align: center;
}
.accordion {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #59ae7f;
  margin: 0 auto;
  color: #fffc5a;
}

.accordion__content {
  display: block;
}
.accordion__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1rem;
  padding: 3% 5%;
}

.btn {
  display: block;
  transform: rotate(90deg);
  width: 4%;
  background-image: url(img/up-down.svg);
  background-repeat: no-repeat;
  transition: 0.4s;
  filter: invert(1);
}

.item {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.main__img {
  display: block;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  transition: 0.2s;
}

.accordion__input {
  display: none;
}
.accordion__content {
  padding: 3% 5%;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: 0.3s ease-in;
  background-color: #ccebc0;
}

.accordion__input:checked ~ .accordion__content {
  transition: 0.2s all;
  height: 100%;
  padding: 5%;
}
.accordion__input:checked ~ .accordion__label .btn {
  filter: invert(0.1);
  transform: rotate(-90deg) translateX(-20%);
}
.accordion__input:checked ~ .accordion__label {
  color: #fffc5a;
}

@media screen and (min-width: 550px) {
  .accordion {
    max-width: 70%;
  }
}
@media screen and (min-width: 767px) {
  .accordion {
    max-width: 50%;
  }
  .hello {
    font-size: 1.8rem;
  }
  .accordion__label {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .accordion {
    max-width: 40%;
  }
  .hello {
    font-size: 2.2rem;
  }
  .accordion__label {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.4em;
  }
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .accordion:hover {
    color: white;
    cursor: pointer;
  }
  .item:hover .accordion__content {
    transition: 0.2s all;
    height: 100%;
    padding: 5%;
  }

  .item:hover .btn {
    filter: invert(0.9);
    transform: rotate(-90deg) translateX(-20%);
  }
  .main__img:hover {
    transform: scale(1.2);
    transition: 0.2s;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
